/* CSS Reset */
body {
    font-family: 'Baloo Bhai', cursive;
    color: rgb(231, 158, 63);
    margin: 0px;
    padding: 0px;
    /* background-image: url('img/deadlift.jpg'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.left {
    display: inline-block;
    /* border: 2px solid red; */
    position: absolute;
    left: 60px;
    top: 20px;
}

.left img {
    position: fixed;
    width: 136px;
    margin-left: -60px;
    margin-top: -20px;
    /* filter: invert(100%); */
}

.left div {
    line-height: 19px;
    font-size: 26px;
    margin-left: -61px;
    position: fixed;
    text-align: center;
    top:130px;
}

.mid {
    display: block;
    width: 36%;
    margin: 29px auto;
    /* border: 2px solid green; */
}

.right {
    position: absolute;
    right: 34px;
    top: 43px;
    display: inline-block;
    /* border: 2px solid yellow; */
}

.navbar {
    display: inline-block;
    padding: 0px;
    margin: -70px;
    position: fixed;
}

.navbar li {
    display: inline-block;
    font-size: 25px;
}

.navbar li a {
    color: rgba(79, 202, 21, 0.952);
    text-decoration: none;
    padding: 34px 20px;

}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: rgb(79,202,21,0.952);

}

.btn {
    font-family: 'Baloo Bhai', cursive;
    margin: 0px 9px;
    background-color: black;
    color: rgb(28, 195, 218);
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(31, 30, 30);
}

.container {
    /* border: 2px solid rgb(255, 255, 255); */
    margin: 106px 150px;
    padding: 75px;
    width: 33%;
    border-radius: 28px;
}

.form-group input {
    font-family: 'Baloo Bhai', cursive;
    text-align: center;
    display: block;
    width: 508px;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    font-size: 25px;
    border-radius: 8px;
}

.container h1 {
    text-align: center;
}

.container button {
    display: block;
    width: 74%;
    margin: 20px auto;
}